/*
  common.scss
*/
@font-face {
  font-family:  'icons-turn-arrow';
  src:  url('../icon/turn-arrow.eot') format('enbedded'),
      url('../icon/turn-arrow.woff') format('woff'),
      url('../icon/turn-arrow.ttf') format('truetype'),
      url('../icon/turn-arrow.svg') format('svg');
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "kern";
  font-family: sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: 'Varela Round', sans-serif;
}

h1,h2,h3,p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

.clearFix {
  zoom: 1;
  &:before,&:after {
    display: block;
    content: '';
    visibility: hidden;
    clear: both;
  }
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #282c34;
}

.home {
  margin-top: 30px;
}

.test {
  margin-top: 30px;
}

.about {
  margin-top: 30px;
}

.topics {
  margin-top: 30px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}